<% content_for :page_title do %>
  <%= "Mobile Notification" %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= link_to t('new_notification'), '/admin/mobile_notification/new', :icon => 'icon-plus', :id => '' %>
  </li>
<% end %>

<%#= form_for(@globalnotification) do |f| %>
<%= form_for @mobile_notification, :as => :spree_admin_mobile_notification, :url => { :action => "create" } do |f| %>
    <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.text_field :start_date , :class => 'timepicker'%>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.text_field :end_date , :class => 'timepicker'%>
  </div>
  <div class="field">
    <%= f.label :image_name %><br />
    <%= f.text_field :image_name %> Strictly to be same as image's name.
  </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>

